/* GLOBAL PAGE STYLING*/
html, body {
  width: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
  text-transform: uppercase;
  color: #4b4b4b;
}

p, a {
  font-family: 'Raleway', sans-serif;
	font-weight: 400;
}


/* LANDING SCREEN STYLING*/
#landing {
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  text-align: center;
}

#landing img {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.landing-wrapper {
  margin: 0 20%;
}

.landing-wrapper *{
  color: #4b4b4b;
}

.landing-wrapper p{
  font-size: 18px;
}

.arrow {
  color: white;
  text-decoration: none;
  font-size: 60px;
  font-weight: 900;
}


/* MAIN PAGE STYLING*/
.temp-wrapper {
  width: 40%;
  margin: 0px 30%;
}

/*NAV STYLING*/
nav {
  background: #4b4b4b;
  overflow: hidden;
  height: 104px;
}

nav img {
  height: 100px;
  float: left;
}

nav a {
  float: left;
  margin-top: 38px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: white;
  margin-left: 15px;
}

nav .rightnav {
  float: right;
  background: teal;
  margin-right: 20px;
  border: none;
}

/*nav ul {
  margin-right: 20px;
}

nav li {
  display: inline;
}

nav .rightnav {
  text-decoration: none;
  background: teal;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  margin-top: 15px;
  float: right;
}

nav .rightnav:hover {
  background: #f8bc16;
}*/
