svg {
  margin: 0 auto;
  display: inherit;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.districts {
  fill: #f8bc16;
  /*fill: #4b4b4b;*/
}

.districts :hover {
  fill: #36bba1;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #FFF;
  stroke-width: .5px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

.less-than-40 {
  fill: rgba(133, 208, 205, .12);
  fill: rgba(248, 188, 22, .12);
}

.less-than-50 {
  fill: rgba(133, 208, 205, .26);
  fill: rgba(248, 188, 22, .26);
}

.less-than-60 {
  fill: rgba(133, 208, 205, .4);
  fill: rgba(248, 188, 22, .4);
}

.less-than-70 {
  fill: rgba(133, 208, 205, .54);
  fill: rgba(248, 188, 22, .54);
}

.less-than-80 {
  fill: rgba(133, 208, 205, .68);
  fill: rgba(248, 188, 22, .68);
}

.less-than-90 {
  fill: rgba(133, 208, 205, .82);
  fill: rgba(248, 188, 22, .82);
}

.less-than-100 {
  fill: rgba(133, 208, 205, 1);
  fill: rgba(248, 188, 22, 1);
}

.current-districts {
  fill: #CC333C;
}
