/* Nevis Bold import */
@font-face {
  font-family: 'Nevis';
  src: url('nevis.eot'); /* IE9 Compat Modes */
  src: url('nevis.woff') format('woff'), /* Pretty Modern Browsers */
       url('nevis.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* GLOBAL PAGE STYLING */
html, body {
  width: 100%;
	margin: 0;
  color: #4b4b4b;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
  text-transform: uppercase;
}

h1 {
  color: #d13f27;
}

.involved h1 {
  margin-top: 40px;
  font-weight: 600;
}

.about h1, .explore-map {
  font-weight: 600;
  font-size: 36px;
}

.zip-head {
  margin-bottom: 32px;
}

.tagline {
  font-family: 'Nevis', sans-serif;
}

p, a {
  font-family: 'Raleway', sans-serif;
	font-weight: 400;
  text-decoration: none;
  line-height: 1.6;
}

.p-404 {
  width: 70%;
  margin: 0 15%;
}

.involved a, .p-404 a {
  color: #39bfb8;
}
.involved a:hover {
  text-decoration: underline;
}

.btn-primary {
  background: #85D0CC;
  border: none;
  color: white;
  padding: 10px;
  transition: background .3s;
}

.btn-primary:hover {
  background: #249690;
}

.btn-secondary {
  background: #d13f27;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px 4px;
  font-size: 14px;
  transition: background .3s;
}

.btn-secondary:hover {
  background: #7c2516;
}



/*NAV STYLING*/
.nav-wrapper {
  height: 100px;
}

.nav-wrapper nav {
  background: white;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  opacity: .01;
  overflow: hidden;
  height: 100px;
  position: fixed;
}

.nav-wrapper nav.fixed {
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    opacity: .97;
    transition: opacity .5s;
}

nav img {
  float: left;
  height: 100px;
  margin-top: -6px;
  margin-left: 4px;
}

nav ul {
  float: left;
  margin: 38px 25px;
  float: right;
}

nav ul li {
  display: inline;
}



/* LANDING STYLING*/
#landing {
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
  background-image: url("../images/wall-4-light.png");
  text-align: center;
}

#landing img {
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 40px;
}

.landing-wrapper {
  margin: 0 20%;
}

.landing-wrapper *{
}

.landing-wrapper p{
  font-size: 18px;
}

.arrow {
  color: #f8bc16;
  text-decoration: none;
  font-size: 60px;
  font-weight: 900;
}

.fa {
  color: #d13f27;
  font-size: 50px;
  margin: 20px;
  transition: color 0.3s ease-in-out;
}

.fa:hover {
  color: #85d0cd;
}



/* MAINBODY STYLING*/
#mainbody {
  overflow: hidden;
}

.temp-wrapper {
  width: 50%;
  margin: 75px 25% 20px 25%;
  text-align: center;
  clear: both;
}

button:active, button:focus, input:active, input:focus {
  outline: none;
  border: none;
}


#zip-code-input {
  width: 100px;
  margin-left: 11px;
  text-align: center;
  font-size: 16px;
  color: #249690;
  border: none;
  border-bottom: 2px solid #85D0CC;
}


/*FILTER BAR*/
.filter-bar {
  text-align: center;
  margin-top: 50px;
}

.category-wrapper .btn-primary {
  font-size: 16px;
  margin: 4px;
  display: none;
}

.category-wrapper .btn-primary:hover {
  background-color: #85D0CC;
  opacity: .8;
}

.category-wrapper .btn-primary.selected {
  background-color: #249690;
}

.filter-bar {
  display: block;
  width: 84.6%;
  margin: 0 auto;
}

.filter-bar .btn-secondary {
  font-size: 19px;
  width: 90%;
  height: 50px;
}


/*VIDEOS STYLING*/
.video-container {
  width: 88%;
  margin: 0 auto;
  min-height: 400px;
}

.video-container p.error {
  width: 70%;
  margin: 40px 15% 10px;
  text-align: center;
}

.videos {
  float: left;
  width: 46%;
  height: 650px;
  margin: 40px 2%;
}

.error {
  height: auto;
}

iframe {
  width: 100%;
  height: 400px;
}

.video-information h2 {
  font-size: 30px;
  font-weight: 700;
  color: #82cbc7;
}


/*MEDIA QUERIES*/
@media (max-width: 950px){
  .landing-wrapper {
    margin: 0 8%;
  }

  #landing img {
    height: 250px;
  }

  .temp-wrapper {
    width: auto;
    margin: 10px;
    text-align: center;
  }

  #map {
    display: none;
  }

  .videos {
    float: none;
    width: 100%;
  }

  .map-text {
    display: none;
  }

  .filter-bar {
    margin-top: 0;
  }
}

@media (max-width: 450px){
  #landing img {
    height: 200px;
  }
  .tagline {
    font-size: 28px;
    line-height: 1.4em;
  }
  .landing-wrapper p {
    font-size: 16px;
  }
  .zip-head {
    font-size: 24px;
    margin: auto 6%;
    line-height: 1.4em;
  }
}
