svg {
  margin: 0 auto;
  display: inherit;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.districts {
  fill: #36bba1;
}

.districts :hover {
  fill: #f8bc16;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #FFF;
  stroke-width: .5px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

.less-than-40 {
  fill: rgba(54, 187, 161, .12);
}

.less-than-50 {
  fill: rgba(54, 187, 161, .26);
}

.less-than-60 {
  fill: rgba(54, 187, 161, .4);
}

.less-than-70 {
  fill: rgba(54, 187, 161, .54);
}

.less-than-80 {
  fill: rgba(54, 187, 161, .68);
}

.less-than-90 {
  fill: rgba(54, 187, 161, .82);
}

.less-than-100 {
  fill: rgba(54, 187, 161, 1);
}

.current-districts {
  fill: #CC333C;
}
